<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Dimensões</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container text-center mt-5">
    <h1>Selecione uma Dimensão</h1>
    <div class="row mt-4">
        <!-- Card para Dimensão II -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dimensão II</h5>
                    <p class="card-text">Clique para acessar a página da Dimensão II.</p>
                    <a href="{{ url_for('dimensionii_bp.dimension_ii') }}" class="btn btn-primary">Acessar Dimensão II</a>
                </div>
            </div>
        </div>

        <!-- Card para Dimensão III -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dimensão III</h5>
                    <p class="card-text">Clique para acessar a página da Dimensão III.</p>
                    <a href="{{ url_for('dimensioniii_bp.dimension_iii') }}" class="btn btn-primary">Acessar Dimensão III</a>
                </div>
            </div>
        </div>

        <!-- Card para Dimensão IV -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dimensão IV</h5>
                    <p class="card-text">Clique para acessar a página da Dimensão IV.</p>
                    <a href="{{ url_for('dimensioniv_bp.dimension_iv') }}" class="btn btn-primary">Acessar Dimensão IV</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center mt-5">
        <a href="{{ url_for('home_bp.home') }}" class="btn btn-secondary">Voltar para Home</a>
    </div>
</div>

</body>
</html>
