<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimensão IV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container text-center mt-5">
        <h1>Dimensão IV</h1>
        <p>Conteúdo da página Dimensão IV</p>
        <a href="{{ url_for('card_dimension_bp.card_dimension') }}" class="btn btn-secondary">Voltar para Dimensões</a>
        <a href="{{ url_for('home_bp.home') }}" class="btn btn-secondary">Voltar para Home</a>
        </div>
    </div>
</body>
</html>
