<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dimensão II</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="bg-light mt-5 ">
    <div class="container mt-4 ">
        <!-- Botões para voltar, centralizados -->
        <div class="text-center mb-5">
            <a href="{{ url_for('card_dimension_bp.card_dimension', id_ente=request.args.get('id_ente'), an_referencia=request.args.get('an_referencia')) }}" class="btn btn-secondary mr-2">Dimensões</a>
            <a href="{{ url_for('home_bp.home') }}" class="btn btn-secondary">Home</a>
        </div>

        <!-- Cartões para exibir o status, lado a lado -->
        <div class="row justify-content-center row-gap-custom">
            <div class="col-mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se foi informado, no Anexo I-HI da DCA, valor da variação patrimonial aumentativa com o FUNDEB.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00001</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0">{{ d2_01 }}</p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se foi informado, no Anexo I-HI da DCA, valor da variação patrimonial diminutiva com o FUNDEB.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00002</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0">{{ d2_02 }}</p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>

            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se foram informadas, no Anexo I-C da DCA, valores referentes ao registro orçamentário de destinação ao FUNDEB.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00003</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0">{{ d2_03 }}</p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se foram informadas, no Anexo I-C da DCA, as receitas orçamentárias com a entrada de recursos para o FUNDEB.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00004</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0">{{ d2_04 }}</p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se foram informadas, no Anexo I-D da DCA, as despesas orçamentárias com encargos patronais relativos aos servidores e funcionários do ente.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00005</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0">{{ d2_05}}</p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se foram informadas, no Anexo I-D da DCA, as despesas orçamentárias os servidores e funcionários do ente.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00006</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se foram informadas, no Anexo I-D da DCA, as despesas orçamentárias de outros grupos de natureza da despesa relacionados a custeio diferente de (Pessoal e Encargos Sociais) e (Juros e Encargos da Dívida).">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00007</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se foram informadas, no Anexo I-E da DCA, as despesas orçamentárias classificadas por função do gasto público.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00008</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se foram informadas, no Anexo I-C da DCA, as receitas orçamentárias de transferências de outros entes/entidades.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00010</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se foram informadas, no Anexo I-C da DCA, as receitas orçamentárias tributárias">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00011</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="DA. Curto Prazo: Verifica a relação entre o ajuste para perdas dos créditos a curto e suas contas principais no Anexo I-AB da DCA. O valor dos ajustes não pode ser superior aos valores das contas originais.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00013</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="DA. Longo Prazo: Verifica a relação entre o ajuste para perdas dos créditos a longo prazo e suas contas principais no Anexo I-AB da DCA. O valor dos ajustes não pode ser superior aos valores das contas originais.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00013</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Curto Prazo: Verifica a relação entre o ajuste para perdas dos demais créditos e valores a curto e suas contas principais no Anexo I-AB da DCA. O valor dos ajustes não pode ser superior aos valores das contas originais.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00014</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Longo Prazo: Verifica a relação entre o ajuste para perdas dos demais créditos e valores a longo prazo e suas contas principais no Anexo I-AB da DCA. O valor dos ajustes não pode ser superior aos valores das contas originais.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00014</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se foi informado saldo patrimonial de bens móveis no Anexo I-AB da DCA.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00015</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se foi informado saldo patrimonial de depreciação acumulada de bens móveis no Anexo I-AB da DCA.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00016</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se foi informada Variação patrimonial diminutiva de depreciação de bens móveis e imóveis no Anexo I-HI da DCA.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00017</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se os valores de depreciação de bens móveis é inferior ao valor  total de bens móveis no Anexo I-AB da DCA.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00018</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se foi informado saldo patrimonial de bens imóveis no Anexo I-AB da DCA.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00019</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se foi informado saldo patrimonial de depreciação acumulada de bens imóveis no Anexo I-AB da DCA.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00020</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se os valores de depreciação acumulada de bens imóveis é inferior ao valor total de bens imóveis no Anexo I-AB da DCA.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00021</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verificação da existência de saldo na conta de provisão atuarial no balanço patrimonial (Anexo I-AB) sempre que existirem valores de VPA de contribuições para o RPPS no Anexo I-HI da DCA.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00022</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se o valor inscrito em RPNP no exercício é menor ou igual à diferença entre os valores registrados de despesa empenhada e liquidada no Anexo I-D da DCA.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00023</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se o valor inscrito em RPP no exercício é menor ou igual à diferença entre os valores registrados de despesa liquidada e paga no Anexo I-D da DCA.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00024</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se o valor do Passivo Circulante Financeiro é menor ou igual ao valor de Passivo Circulante no Anexo I-AB da DCA.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00028</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica a existência de VPD de Juros e Encargos de Empréstimos e Financiamentos no Anexo I-HI quando foram informados valores de Obrigações decorrentes de empréstimos e financiamentos no Anexo I-AB da DCA.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00029</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se o ente aplica o PIPCP de ajuste para perdas da Dívida ativa. Se existe saldo de Dívida ativa, é verificada a existência de ajuste para perdas no mesmo grupo. Curto prazo e longo prazo são analisados separadamente.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00032</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se foram informados valores negativos nas colunas das deduções da receita do Anexo I-C da DCA.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00035</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se houve registro de créditos tributários no período no Anexo I-HI da DCA.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00037</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica as provisões por competência: se há valor de VPD de provisão no Anexo I-HI, deve haver o registro no passivo de curto ou de longo prazo no Anexo I-AB.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00039</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se o valor de amortização acumulada é inferior ao valor do ativo intangível no Anexo I-AB da DCA.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00043</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                     </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se o do total do Ajuste para perdas em Estoques é inferior ao total do saldo dos Estoques no Anexo I-AB da DCA.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00051</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica se o ente está registrando os investimentos permanentes, em conformidade com o PIPCP. Caso haja VPA ou VPD com equivalência patrimonial no Anexo I-HI, verifica-se a existência de investimentos permanentes no Anexo I-AB.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00052</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
      
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="FUNDEB Complementação: Verifica se foi informada Variação Patrimonial Aumentativa com a Complementação do FUNDEB no Anexo I-HI da DCA.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00061</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
      
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="FUNDEB Principal: Verifica se foi informada Variação Patrimonial Aumentativa com o FUNDEB Principal no Anexo I-HI da DCA.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00061</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica, na DCA, se o valor de amortização acumulada é inferior ao valor do ativo intangível. A avaliação é feita por tipo de ativo intangível.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00066</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
      
            <div class="col-md- mb-2"> <!-- Ajuste de mb para 1 -->
                <div class="total-card card" data-status="{{ status }}" data-toggle="tooltip" title="Verifica, na DCA, se o valor de amortização acumulada é inferior ao valor do ativo intangível. A avaliação é feita por tipo de ativo intangível.">
                    <div class="card-body text-center bg-success text-white rounded-lg custom-card-body py-3"> 
                        <h5 class="mb-1 font-weight-bold">D2_00085</h5> <!-- Remove a margem inferior para controlar via padding -->
                        <p class="mb-0"></p> <!-- Remove a margem inferior para controlar via padding -->
                    </div>
                </div>
            </div>
      
              
            <div class="container mt-5">
                <!-- Botões para voltar, centralizados -->
                <div class="text-center mb-4">
                    <a href="{{ url_for('card_dimension_bp.card_dimension', id_ente=request.args.get('id_ente'), an_referencia=request.args.get('an_referencia')) }}" class="btn btn-secondary mr-2">Dimensões</a>
                    <a href="{{ url_for('home_bp.home') }}" class="btn btn-secondary">Home</a>
                </div>
      
            <script src="{{ url_for('static', filename='colorChanger.js') }}"></script>
            <script>
                // Chame a função para alterar a cor com base no status de cada cartão
                document.querySelectorAll('.total-card').forEach(card => {
                    const status = card.getAttribute('data-status');
                    changeColorByStatus(card, status);
                });
            </script>
            <script>
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip(); // Ativa os tooltips
                });
            </script>
</body>
</html>
